/* Simple dashboard grid CSS */
$headerBgColor: #ffffff;
$sidebarBgColor: #fff;
$sidebarProfileBgColor: #8e66d9;
$mainBgColor:   #f4f2fc;
$footerBgColor: #648ca6;
$overviewcardBg: #fff;
$borderRadius: 35px;
$padding: 50px;
$marginTop: 15%;

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Side nav is hidden on mobile */
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
      'header'
      'main'
      'footer';
  height: 100vh;
}

.sidenav {
  display: none;
  grid-area: sidenav;
  background-color: #394263;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #DADAE3;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

/* Mobile-first side nav styles */
.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #394263;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

/* The active class is toggled on hamburger and close icon clicks */
.sidenav.active {
  transform: translateX(0);
}

/* Only visible on mobile screens */
.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative; /* Fixed position on mobile */
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
  }

  .sidenav {
    display: flex;
    flex-direction: column;
  }
}

/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: $headerBgColor;
}

.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: $sidebarBgColor;
}

.sidenav__profile {
  color: white;
  background-color: $sidebarProfileBgColor;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.main {
  grid-area: main;
  background-color: $mainBgColor;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px; /* Force our height since we don't have actual content yet */
  background-color: #e3e4e6;
  color: slategray;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overview-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 265px;
  box-shadow: 4px 4px 4px 4px gray;
  padding: $padding;
  border-radius: $borderRadius;
  background-color: #f2e6ff;
}

.overview-card-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 265px;
  box-shadow: 4px 4px 4px 4px gray;
  padding: $padding;
  border-radius: $borderRadius;
  background-color: $overviewcardBg;
}

.card__img {
  margin-top: $marginTop;
  width: 100%;
}
.card__img2 {
  width: 100%;
}

.content {
  padding-left: 31px;
}

.text-center {
  text-align: center;
}

.buttonBtn {
  width: 400px;
  height: 50px;
  background-color: rebeccapurple;
  color: white;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  background-color: $footerBgColor;
}